<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">DOCUMENTATION</li>
      <li>
          <a href="">configuration</a>
          <ul class="dropdown menu" data-dropdown-menu>
              <li>
                  <a href="">objet</a>
                  <ul class="menu">
                      {% for view in views %}
                      <li><a href="{{ url_for('page.view', page=view, type='objet') }}">{{ view | replace('-', ' ') }}</a></li>
                      {% endfor %}
                  </ul>
              </li>
              <li>
                  <a href="">html</a>
                  <ul class="menu">
                      {% for view in views %}
                      <li><a href="{{ url_for('page.view', page=view, type='html') }}">{{ view | replace('-', ' ') }}</a></li>
                      {% endfor %}
                  </ul>
              </li>
          </ul>
      </li>
    </ul>
  </div>
  <div class="top-bar-right"></div>
</div>
