@import './libs/knacss';


.container{
    max-width: 96rem;
    margin: 0 auto;
    color:#333;
    padding-bottom: 15rem;
}

span[id^=vfo]{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: .8rem;


    &.error{
        color: #f00;
    }

    &.success{
        color: #5CB85C;
    }

    .icon{
        width: 1.6rem;
        padding-top: .4rem;
        margin-right: .5rem;
    }

    > *{
        margin: auto 0;
        line-height: 1.2
    }
}
fieldset{
    margin-top: 1.5rem;
    border: 1px solid #dadce0;
    border-radius:.5rem;

    legend{
        font-size: 1.6rem;
        width: auto;
    }
}
div{
    &#hobies-container{
        display: none;
    }

    &.input{
        margin-top: 1.5rem;

        &.radio,
        &.checkbox{
            width: auto;height: auto;
            box-shadow: none;
        }

        .wrap-input{
            position: relative;
            label{
                display: block;
                cursor: pointer;
                position: absolute;
                left: .6rem;top: 50%;
                transform:translateY(-50%);
                transition: transform .4s, font-size .4s;
                background-color: #fff;
            }

            input, select, textarea{
                box-shadow: none;
                border: 1px solid #dadce0;
                border-radius:.3rem;
                background-color: transparent;
                width: 100%;
                transition: border-color .4s;

                &.error{
                    border-color: red;
                }

                &:focus{
                    border: 1px solid #0275D8;
                }
            }



            select{
                background-color: transparent;
            }

            textarea{
                width: 100%;
            }
        }

        &.on-data{
            .wrap-input{
                label{
                    transform:translateY(-2.75rem);
                    font-size: 1.2rem;
                }
            }

            &.textarea{
                .wrap-input{
                    label{
                        transform:translateY(-1rem);
                    }
                }
            }
        }

        &.select{
            .wrap-input{
                label{
                    position: static;
                    transform:translateY(0);
                }
            }
        }

        &.textarea{
            .wrap-input{
                label{
                    top: 0.1rem;
                    transform:translateY(0);
                }
            }
        }
    }


}
