<form action="http://google.com" method="get">
    <div class="grid-x grid-padding-x">
        <div class="large-12 medium-12 cell">
            <label>
                <span>rechercher</span>
                <input type="text" name="q" value="" required data-validationrules="notempty maxlength" data-errornotempty="ce champs ne doit pas être vide" data-errormaxlength="maximum 3 caractères" data-validationmaxlengthargs="3">
            </label>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-6 cell">
            <button type="submit" class="button">envoyer</button>
        </div>
    </div>
</form>
