:root{
    --color-error:#cc4b37;
    --color-success:#3adb76;
}
html, body{
    font-size: 16px;
}
input{
    margin: 0 !important;
}
input.error{
    border: 1px solid var(--color-error);
}
input.success{
    border: 1px solid var(--color-success);
}
span.error{
    color: var(--color-error);
}
span.success{
    color: var(--color-success);
}
label{
    margin-bottom: 1em;
    font-size: 16px;
}
label::first-letter{
    text-transform: uppercase;
}
textarea{
    min-height: 100px;
    resize: vertical;
}
