{% extends './partials/content_layout.html' %}

{% block personnal_script %}
<script id="script_example">
    window.addEventListener('DOMContentLoaded', function(){
        let options = {
            mode : 'html'
        };
        let validate = new Validator(options);
        validate.form();
        let listRequireField = [
            'input[type=text]',
            'input[type=date]',
            'input[type=password]',
            'input[type=radio]',
            'input[type=checkbox]',
            'select',
            'textarea',
        ];
        document.querySelectorAll(listRequireField.join(',')).forEach(($field)=>{
            $field.addEventListener('blur', (e)=>{
                validate.element(e.target);
            });
        });
    })
</script>
{% endblock personnal_script %}
