<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/foundation.min.css") }}">
    <style media="screen">
        code{
            display: block;
        }
        input.error, select.error, textarea.error{
            margin-bottom: 0;
            border-color: #cc4b37;
        }
        input.success, select.success, textarea.success{
            border-color: green;
        }
        span.error{
            color: #cc4b37;
            margin-bottom: 16px;
            display: block;
        }
    </style>
    <style media="screen">{% block cssplus %}{% endblock %}</style>
</head>
<body>
    <header>
        {% include "./partials/header.html" %}
    </header>
    <main class="grid-container">
        <h1>{% block h1 %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename="js/jquery.js") }}"></script>
    <script src="{{ url_for('static', filename="js/foundation.min.js") }}"></script>
    <script type="text/javascript">
        $(function(){
            $(document).foundation()
            $('.accordion-content:eq(1) code').html( $('#script_example').html() );
        });
    </script>
    <script src="{{ url_for('static', filename="js/validator.min.js") }}"></script>
    {% block personnal_script %}{% endblock personnal_script %}
</body>
</html>
