{% extends './partials/layout.html' %}

{% block title %}validation {{ page_name | replace('-', ' ') }}{% endblock %}
{% block h1 %}validation {{ page_name | replace('-', ' ') }}{% endblock %}

{% block content %}
<ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">html</a>
        <div class="accordion-content" data-tab-content>
            <pre>
                <code>
            {% block code_html %}
{{ content_form }}
            {% endblock %}
                </code>
            </pre>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#deeplink2" class="accordion-title">javascript</a>
        <div class="accordion-content" data-tab-content id="deeplink2">
            <pre>
                <code>
            {% block code_js %}{% endblock %}
                </code>
            </pre>
        </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
        <a href="#deeplink3" class="accordion-title">rendu</a>
        <div class="accordion-content" data-tab-content id="deeplink3">
            {% include path_form %}
        </div>
    </li>
</ul>
{% endblock content %}
