{% extends './partials/content_layout.html' %}

{% block personnal_script %}
<script id="script_example">
    window.addEventListener('DOMContentLoaded', function(){
        let option = {
            'fields':{
                "validatePhone" : {
                    "target" : {
                        "error" : "#messagePhoneChoice",
                    },
                    "notempty" : {
                        "error" : "Vous devez faire un choix"
                    }
                },
                'phone': {
                    'notempty':{
                        "error":"Ce champ ne doit pas être vide"
                    },
                    "checkphone":{
                        "error": "Le format ne semble pas être bon 0102030405"
                    }
                }
            }
        }
        let validate = new Validator(option);

        // ajout
        validate.addRules('checkphone', (value)=>{
            return !/^0[1-8][ .-]?(\d{2}[ .-]?){4}$/.test(value);
        });
        validate.form();

        let $phone = document.getElementById('phone');
        $phone.parentNode.style.display = 'none';
        document.getElementsByName('validatePhone').forEach(($input) =>{
            $input.addEventListener('change', (e)=>{
                if(e.target.checked && e.target.id === "validatePhoneYes"){
                    $phone.parentNode.style.display = 'block';
                    validate.addRequireField($phone);
                }else{
                    $phone.parentNode.style.display = 'none';
                    validate.removeRequireField($phone);
                }
            });
        });
    })
</script>
{% endblock personnal_script %}
