<form action="http://google.com" method="post">
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell callout alert" id="errorBlock">
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-6 medium-6 cell">
            <label>
                <span>prénom</span>
                <input type="text" name="firstname" value="" class="require">
                <span id="successFirstname"></span>
            </label>
        </div>
        <div class="large-6 medium-6 cell">
            <label>
                <span>nom</span>
                <input type="text" name="lastname" value="" class="require">
                <span id="successLastname"></span>
            </label>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-6 cell">
            <button type="submit" class="button">envoyer</button>
        </div>
    </div>
</form>
