{% extends './partials/content_layout.html' %}

{% block personnal_script %}
<script id="script_example">
    window.addEventListener('DOMContentLoaded', function(){
        let options = {
            fields : {
                'firstname': {
                    "notempty" : {
                        "error" : "ce champs ne doit pas être vide"
                    }
                },
                'lastname': {
                    "notempty" : {
                        "error" : "ce champs ne doit pas être vide"
                    }
                },
            }
        };
        let validate = new Validator(options);
        validate.form();
    })
</script>
{% endblock personnal_script %}
